extends ../../../../../templates/masteradmin1
block addcss
block prepend main
	#wrap
	div(style='clear:both')
	.content
		.container-fluid
			.row
				.col-lg-12.col-md-12
						.card
								.card-header.card-header-primary
										h4.card-title Regular Baptism
										
								.card-body.table-responsive
										table.table.table-hover
												thead.text-primary
														th ID
														th Name of the Child
														th Birthday
														th Req Status
														th Pymt Status
														th Approval Status
														th.text-center(style=" width:120px") Actions
												tbody
														each regular in regulars
															tr
																td=regular.int_eventinfoID
																td=regular.var_lname + ", " + regular.var_fname
																td=regular.date_birthday
																td=regular.char_reqstatus
																td=regular.char_feestatus
																td=regular.char_approvalstatus
																td.td-actions.text-center
																	button.btn.btn-info.viewButton(type='button',rel='tooltip',value=`${regular.int_eventinfoID}`)
																		i.material-icons open_in_new
																	button.btn.btn-success.updateButton(type='button',rel='tooltip', value=`${regular.int_eventinfoID}`)
																		i.material-icons edit
															
								.card-footer.text-right
									.col-md-7
										<cite title="Source Title">Showing 6 of 25 entries</cite> 
									.col-md-6.text-right
										<nav aria-label="Page navigation example">
											<ul class="pagination justify-content-center">
												<li class="page-item">
													<a class="page-link" href="#" tabindex="-1">Previous</a>
												</li>
												<li class="page-item"><a class="page-link" href="#">1</a></li>
												<li class="page-item">
													<a class="page-link" href="#">Next</a>
												</li>
											</ul>
										</nav>
						.card
								.card-header.card-header-primary
										h4.card-title Special Baptism
										
								.card-body.table-responsive
										table.table.table-hover
												thead.text-primary
														th ID
														th Name of the Child
														th Birthday
														th Desired Schedule
														th Req Status
														th Pymt Status
														th Approval Status
														th.text-right(style=" width:120px") Actions
												tbody
														each special in specials
															tr
																td=special.int_eventinfoID
																td=special.var_lname + ", " + special.var_fname
																td=special.date_birthday
																td=special.date_desireddate + ' ' + special.time_desiredtime
																td=special.char_reqstatus
																td=special.char_feestatus
																td=special.char_approvalstatus
																td.td-actions.text-center
																	button.btn.btn-info.deleteButton(type='button',rel='tooltip',value=`${specialevent.int_specialeventID}`)
																		i.material-icons open_in_new
																	button.btn.btn-success.updateButton(type='button',rel='tooltip', value=`${specialevent.int_specialeventID}`)
																		i.material-icons edit
															
								.card-footer.text-right
									.col-md-7
										<cite title="Source Title">Showing 6 of 25 entries</cite> 
									.col-md-6.text-right
										<nav aria-label="Page navigation example">
											<ul class="pagination justify-content-center">
												<li class="page-item">
													<a class="page-link" href="#" tabindex="-1">Previous</a>
												</li>
												<li class="page-item"><a class="page-link" href="#">1</a></li>
												<li class="page-item">
													<a class="page-link" href="#">Next</a>
												</li>
											</ul>
										</nav>
			.row
				.col-md-8
					<div class="card card-nav-tabs">
						<div class="card-body">
							<blockquote class="blockquote mb-0">
								//- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
								<footer class="blockquote-footer"><cite title="Source Title">Note:</cite> Deadline for sumbission of requirements will be on <u><cite><strong> June 20, 2018</u></cite></strong> </footer>
							</blockquote>
						</div>
					</div>
				.col-md-4
					.card.card-chart
						.card-header.card-header-warning
							#websiteViewsChart.ct-chart
						.card-body
							h4.card-title Baptism Applications
							p.card-category Month of June
						.card-footer
							.stats
								i.material-icons access_time
								|  As of today
	#viewModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true')
		.modal-dialog.modal-notify.modal-success(role='document')
			.modal-content
				.modal-header
					p.heading.lead Edit Event
					button.close#cancelButton(type='button' data-dismiss='modal' aria-label='Close')
						span.white-text(aria-hidden='true') &times;
				.modal-body#viewAppend                
					.col-md-12.text-center.my-3
				.modal-footer
					a.button.btn.btn-primary#updateSubmitButton(type="button" href="/admin/transaction-requirements") View More Details
			
block addjs
	script(src='js/forIndex.js')
	script.
		$(document).ready(function(){
		$('.viewButton').click(function(){
			var idNow1 = $(this).val();
			console.log(idNow1)
				$.post('/admin/transaction-bapstism/query',{id2:idNow1})
			.done(data=>{
				var bday = moment(data.date_birthday, 'YYYY-MM-DD').format('YYYY-MM-DD');
				var ddate = moment(data.date_desireddate, 'YYYY-MM-DD').format('YYYY-MM-DD');
				var dtime = moment(data.time_desiredtime, 'h:mm a').format('HH:mm:ss');
				$('#viewAppend').append(`
				<div class="form-group">
					<label class="label-control">Event Name: ${data.var_eventname}</label>
				</div>
				<div class="form-group">
					<label class="label-control">Name of Child: ${data.var_fname + " " + data.var_lname}</label>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="label-control">Birth Date: ${bday}</label>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group mt-1">
						<label class="label-control">Desired Date: ${ddate}</label>
						<label class="label-control">Desired Time: ${dtime}</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="label-control">Requirement Status ${data.char_reqstatus}</label>
				</div>
				<div class="form-group">
					<label class="label-control">Application Status: ${data.char_approvalstatus}</label>
				</div>`)
				$('#viewModal').modal('show')
				$('#cancelButton').click(function(){
					$('#viewAppend').empty();
				})
				$('#cancelButton1').click(function(){
					$('#viewAppend').empty();
				})
				$(document).keyup(function(e) {
				if (e.keyCode === 27) 
					{
					$('#viewModal').modal('hide');
					$('#viewAppend').empty();
					};
				});
				})
			})
		})
