extends ../../../../templates/masterguests
mixin card(facility,bgcolor,icon,title,text)
	.col-md-4.px-1
		a(href=`/guest/facilities/${facility}`)
			.card.text-center.my-3.p-2.shadow(class=`bg-${bgcolor}`)
				.card-body.px-2
					i(class=`fa fa-${icon}`)
					h3.mb-2.card-title.text-uppercase= title
					p.card-text.text-uppercase
						| Guidelines & Requirements
					p.card-text.text-uppercase
						| Inquire
mixin testimony(quote,credits,from)
	div
		blockquote.blockquote.mx-5.px-5
			p.mb-0= quote
			footer.blockquote-footer.text-left=credits
				cite(title="company")= from
block main
	.profile-page
		//- Heading Page
		#heading-page.page-header.header-filter(data-parallax="true" style="background-image: url('/img/Nave.jpeg');")
			.container
				.row
					.col-md-7.main-header__textbox
						h1.font-italic Facilities Reservation
		#raised-section.main.main-raised
			//- Icon Boxes
			#icon-boxes
				.row
					.col-md-12
						hr.mt-5.mx-5
				.row
					.col-md-12.my-3
						h3.text-center.text-uppercase.guidelines--text Rooms
				.container
					.row
						.col-md-6
							.card.card-blog.mt-5.shadow2
								.card-header.card-header-image
									a.shadow.mt-5(href='#pablo')
										img.img.img-fluid(src='/img/room1.jpg')
										.card-title
											h2.main--header.font-italic.text-white.m-0 Second Floor
								.card-body
									h6.card-category.text-muted.text-right ₱500/day
									span
										| is a one-room suite with queen-size bed and comfortable seating area. It is located downstairs with an outside entrance and is wheelchair assessable...
								.card-footer
									a.btn.btn-primary.ml-auto.mx-auto(href="/guest/facilities/secondfloor") Inquire

						.col-md-6
							.card.card-blog.mt-5.shadow2
								.card-header.card-header-image
									a.shadow.mt-5(href='#pablo')
										img.img.img-fluid(src='/img/room2.jpeg')
										.card-title
											h2.main--header.font-italic.text-white.m-0 Third Floor
								.card-body
									h6.card-category.text-muted.text-right ₱750/day
									span
										| Enjoy your stay at our Urbandale hotel in this 304 square foot room complete with king size bed with luxurious Villa di Lusso crisp white cotton linens... 
								.card-footer
									a.btn.btn-primary.ml-auto.mx-auto(href="#") Inquire